<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  > <b>MaPage</b>   </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="">Home</a>
          <!-- <a class="nav-link active" ca laisse home tjrs en noir-->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form">Form</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="users" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List of Users
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<!-- <div>
  <ul>
    <li> <app-formulaire> </app-formulaire> </li>

    <li> <app-formulaire> </app-formulaire> </li>

    <li> <app-formulaire> </app-formulaire> </li>
  </ul>
</div> -->


<!-- Barre de navigation ci dessous -->
<!-- Qd on click sur un (home par ex) ca hide l'autre (Form par ex) -->
<ul>
  <li> <a routerLink=""> Home </a> </li>
  <li> <a routerLink="form"> Form </a> </li>
  <li><a routerLink="users"> Users List </a> </li>
  <!-- <li> <a routerLink="f"> NotFound 404 </a> </li>
  ou pour tester le path "**" on ecrit ds le navigateur n'importe quel chemin et ca rend notfound -->
</ul>
<!-- on aurait pu créér un compsant navigateur et mettre les liens ci-dessus dedans et 
ici appeler l app-navigateur, aussi pour footer par exemple -->

<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

