

<div> <app-navbar> </app-navbar>  </div>

<!-- <div>
  <ul>
    <li> <app-formulaire> </app-formulaire> </li>

    <li> <app-formulaire> </app-formulaire> </li>

    <li> <app-formulaire> </app-formulaire> </li>
  </ul>
</div> -->


<!-- Barre de navigation ci dessous -->
<!-- Qd on click sur un (home par ex) ca hide l'autre (Form par ex) -->
<ul>
  <li> <a routerLink=""> Home </a> </li>
  <li> <a routerLink="form"> Form </a> </li>
  <li><a routerLink="users"> Users List </a> </li>
  <!-- <li> <a routerLink="f"> NotFound 404 </a> </li>
  ou pour tester le path "**" on ecrit ds le navigateur n'importe quel chemin et ca rend notfound -->
</ul>
<!-- on aurait pu créér un compsant navigateur et mettre les liens ci-dessus dedans et 
ici appeler l app-navigateur, aussi pour footer par exemple -->

<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

